In [1]:
import yfinance as yf
import pandas as pd

stock_name = 'TSLA'
df = yf.download(stock_name,multi_level_index=False)
df

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

                 Close        High         Low        Open     Volume
Date
2010-06-29    1.592667    1.666667    1.169333    1.266667  281494500
2010-06-30    1.588667    2.028000    1.553333    1.719333  257806500
2010-07-01    1.464000    1.728000    1.351333    1.666667  123282000
2010-07-02    1.280000    1.540000    1.247333    1.533333   77097000
2010-07-06    1.074000    1.333333    1.055333    1.333333  103003500
...                ...         ...         ...         ...        ...
2025-05-19  342.089996  343.000000  333.369995  336.299988   88869900
2025-05-20  343.820007  354.989990  341.630005  347.869995  131715500
2025-05-21  334.619995  347.350006  332.200012  344.429993  102354800
2025-05-22  341.040009  347.269989  331.390015  331.899994   97113400
2025-05-23  339.339996  343.179993  333.209991  337.920013   84439200

[3750 rows x 5 columns]

In [ ]:
#TALIB
!pip install ta-lib

In [ ]:
!pip install pandas-ta

In [2]:
import pandas_ta as ta

ta.sma(df['Close'])

Date
2010-06-29           NaN
2010-06-30           NaN
2010-07-01           NaN
2010-07-02           NaN
2010-07-06           NaN
                 ...
2025-05-19    316.967004
2025-05-20    323.814005
2025-05-21    329.654004
2025-05-22    335.276004
2025-05-23    339.384003
Name: SMA_10, Length: 3750, dtype: float64

In [ ]:
!pip install numpy==1.26.4

In [5]:
sma1=ta.sma(df['Close'],length=20)
df['sma']=sma1
df

,Close,High,Low,Open,Volume,sma
Date,,,,,,
2010-06-29,1.592667,1.666667,1.169333,1.266667,281494500,NaN
2010-06-30,1.588667,2.028000,1.553333,1.719333,257806500,NaN
2010-07-01,1.464000,1.728000,1.351333,1.666667,123282000,NaN
2010-07-02,1.280000,1.540000,1.247333,1.533333,77097000,NaN
2010-07-06,1.074000,1.333333,1.055333,1.333333,103003500,NaN
...,...,...,...,...,...,...
2025-05-19,342.089996,343.000000,333.369995,336.299988,88869900,295.545004
2025-05-20,343.820007,354.989990,341.630005,347.869995,131715500,300.837504
2025-05-21,334.619995,347.350006,332.200012,344.429993,102354800,305.031503
2025-05-22,341.040009,347.269989,331.390015,331.899994,97113400,309.108003
2025-05-23,339.339996,343.179993,333.209991,337.920013,84439200,311.827502

In [7]:
import numpy as np
import pandas as pd

def sma(close, length=10, talib=None, offset=0, **kwargs):
    """Simple Moving Average (SMA)"""
    # Validate inputs
    if not isinstance(close, (pd.Series, np.ndarray, list)):
        raise ValueError("Input 'close' must be a pandas Series, numpy array, or list.")

    close = pd.Series(close)
    length = int(length) if length and length > 0 else 10
    min_periods = int(kwargs.get("min_periods", length))
    offset = int(offset) if offset else 0

    # Calculate SMA
    sma = close.rolling(window=length, min_periods=min_periods).mean()

    # Apply offset
    if offset != 0:
        sma = sma.shift(offset)

    # Handle fillna and fill_method
    if "fillna" in kwargs:
        sma = sma.fillna(kwargs["fillna"])
    if "fill_method" in kwargs:
        sma = sma.fillna(method=kwargs["fill_method"])

    # Add metadata (optional)
    sma.name = f"SMA_{length}"
    sma.category = "overlap"

    return sma


df['sma2']=sma(df['Close'])
df

,Close,High,Low,Open,Volume,sma,sma2
Date,,,,,,,
2010-06-29,1.592667,1.666667,1.169333,1.266667,281494500,NaN,NaN
2010-06-30,1.588667,2.028000,1.553333,1.719333,257806500,NaN,NaN
2010-07-01,1.464000,1.728000,1.351333,1.666667,123282000,NaN,NaN
2010-07-02,1.280000,1.540000,1.247333,1.533333,77097000,NaN,NaN
2010-07-06,1.074000,1.333333,1.055333,1.333333,103003500,NaN,NaN
...,...,...,...,...,...,...,...
2025-05-19,342.089996,343.000000,333.369995,336.299988,88869900,295.545004,316.967004
2025-05-20,343.820007,354.989990,341.630005,347.869995,131715500,300.837504,323.814005
2025-05-21,334.619995,347.350006,332.200012,344.429993,102354800,305.031503,329.654004
2025-05-22,341.040009,347.269989,331.390015,331.899994,97113400,309.108003,335.276004
2025-05-23,339.339996,343.179993,333.209991,337.920013,84439200,311.827502,339.384003