In [1]:
import pandas as pd
import yfinance as yf

data=yf.download('TSLA',multi_level_index=False,period='7d',interval='1m')
data

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

,Close,High,Low,Open,Volume
Datetime,,,,,
2025-05-08 13:30:00+00:00,281.869995,282.179993,279.410004,279.630005,3440211
2025-05-08 13:31:00+00:00,283.060089,284.054993,281.612610,281.939392,980809
2025-05-08 13:32:00+00:00,283.029999,283.689911,282.500000,283.105011,606607
2025-05-08 13:33:00+00:00,284.390015,284.529999,282.880005,283.010010,768278
2025-05-08 13:34:00+00:00,284.571198,285.559998,284.279999,284.339996,915990
...,...,...,...,...,...
2025-05-16 19:55:00+00:00,349.429993,349.510010,349.089996,349.160004,501689
2025-05-16 19:56:00+00:00,349.529999,349.609985,349.269989,349.440002,431523
2025-05-16 19:57:00+00:00,349.899994,349.929993,349.510010,349.529999,509836
2025-05-16 19:58:00+00:00,349.480011,349.929993,349.360291,349.869995,473220
2025-05-16 19:59:00+00:00,349.799988,349.929993,349.380005,349.440002,1107255

In [ ]:
data=data.reset_index()
#remove timezone
data['Datetime'].dt.tz_localize(None)

0      2025-05-08 13:30:00
1      2025-05-08 13:31:00
2      2025-05-08 13:32:00
3      2025-05-08 13:33:00
4      2025-05-08 13:34:00
               ...
2714   2025-05-16 19:55:00
2715   2025-05-16 19:56:00
2716   2025-05-16 19:57:00
2717   2025-05-16 19:58:00
2718   2025-05-16 19:59:00
Name: Datetime, Length: 2719, dtype: datetime64[ns]

convert timezon

In [4]:
data['Datetime'].dt.tz_convert('America/New_York')

0      2025-05-08 09:30:00-04:00
1      2025-05-08 09:31:00-04:00
2      2025-05-08 09:32:00-04:00
3      2025-05-08 09:33:00-04:00
4      2025-05-08 09:34:00-04:00
                  ...
2714   2025-05-16 15:55:00-04:00
2715   2025-05-16 15:56:00-04:00
2716   2025-05-16 15:57:00-04:00
2717   2025-05-16 15:58:00-04:00
2718   2025-05-16 15:59:00-04:00
Name: Datetime, Length: 2719, dtype: datetime64[ns, America/New_York]

In [5]:
data['Datetime'].dt.tz_convert('America/New_York').dt.tz_localize(None)

0      2025-05-08 09:30:00
1      2025-05-08 09:31:00
2      2025-05-08 09:32:00
3      2025-05-08 09:33:00
4      2025-05-08 09:34:00
               ...
2714   2025-05-16 15:55:00
2715   2025-05-16 15:56:00
2716   2025-05-16 15:57:00
2717   2025-05-16 15:58:00
2718   2025-05-16 15:59:00
Name: Datetime, Length: 2719, dtype: datetime64[ns]