In [ ]:
import pandas as pd
df5=pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[1]
df5

In [ ]:
df5.columns=['name','symbol','sector','date']
df5

In [ ]:
df5=df5.set_index('symbol')

In [ ]:
df5.reset_index(inplace=True)
df5.set_index('name', inplace=True)
df5

In [ ]:
df5

In [ ]:
df5.loc['Titan Company':'Wipro','sector':'date']

In [ ]:
df5.loc[('Shriram Finance','Tata Consultancy Services'),'sector':'date']

In [ ]:
df5.reset_index(inplace=True)

In [ ]:
df5.loc[0:1,'name':'symbol']

In [ ]:
import pandas as pd
df1=pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')[2]
df1=df1[['Company','Exchange','Symbol','Industry','Date added']]
df1

In [ ]:
df1.loc[27:29,'Company':'Symbol']

In [ ]:
df1=df1.set_index('Symbol')
df1

In [ ]:
df1.iloc[[0,1,2],[0,1,2]]

In [ ]:
df1.iloc[0:3,0:3]

In [ ]:
df1.iloc[[-3,-2,-1],[-3,-2,-1]]

In [ ]:
df1.iloc[-3:,-3:]

In [ ]:
df2=pd.read_csv('sp500.csv')
df2=df2[df2['Price']>100]
df2

In [ ]:
df2.iloc[-3:,[0,2]]

In [ ]:
df2.iloc[-3:][['Name','Price']]

In [25]:
df3=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
df3

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [28]:
df3=df3[df3['GICS Sector']=='Health Care']
df3.iloc[-5:]['Symbol'].to_list()

['VTRS', 'WAT', 'WST', 'ZBH', 'ZTS']